* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.slides {
  position: relative;

  width: 70%;
  height: 60vh;

  list-style-type: none;

  background: #000000;
}

.slide {
  position: absolute;
  z-index: -999;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  -webkit-transition: opacity 0.5s;
       -o-transition: opacity 0.5s;
          transition: opacity 0.5s;

  opacity: 0;
  background-position: 50% 50%;
  background-size: cover;
}

.active {
  z-index: 0;

  opacity: 1;
}

.slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px;

  color: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.24);

  font-size: 40px;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  margin: 0.5em;
}

.indicators, .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  margin-top: 1em;

  gap: 1em;
}

.indicator {
  width: 70px;
  height: 10px;
}

.control {
  width: 60px;
  height: 50px;
}

.indicator, .control {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  border: 1px solid rgba(160, 158, 158, 0.3098039216);
  background-color: rgba(201, 199, 199, 0.3411764706);
}

.indicator.active {
  border: 1px solid rgba(2, 2, 2, 0.3098039216);
  background-color: rgba(36, 35, 35, 0.5764705882);
}
.indicator.active:hover {
  border: 2px solid rgb(99, 13, 180);
}

.control-pause > span {
  position: absolute;

  opacity: 0;
}
